<p>Welcome <%= @email %>!</p>

<p>Please confirm your school's email account using the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
